{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> Hello, let me introduce my name, dodo eko saputro. I am the author and developer and bucin4lyfe. The purpose of making this blog is to devote my heart and convey perspectives on things about the habits of men to girlfriends that are love slaves or usually called bucin hopefully with a blog This can be accepted by anyone, like the ex-boyfriend, and so on</p>
        <a href=""
           class="btn btn-danger">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}